/* 
.color1 { #4060d2 };
.color2 { #5c77dd };
.color3 { #788fe9 };
.color4 { #94a6f4 };
.color5 { #b0bdff }; */
/*
.color1 { #6a78c8 };
.color2 { #7f8cd5 };
.color3 { #94a1e3 };
.color4 { #aab5f1 };
.color5 { #bfc9ff }; */

body{
    background-color: #bfc9ff;
    padding: 20px;
}

header{
    background-color: #6a78c8;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

article{
    background-color: #94a1e3;
    padding: 20px;
    margin-bottom: 20px;
    width: 320px;
    border-radius: 50px;
}

article img{
    width: 100%;
    align-items: center;
}

footer{
    background-color: #6a78c8;
    text-align: center;
    padding: 20px;
}

