/* 
.color1 { #4060d2 };
.color2 { #5c77dd };
.color3 { #788fe9 };
.color4 { #94a6f4 };
.color5 { #b0bdff }; */
/*
.color1 { #6a78c8 };
.color2 { #7f8cd5 };
.color3 { #94a1e3 };
.color4 { #aab5f1 };
.color5 { #bfc9ff }; */

body{
    background-color: #bfc9ff;
}

header{
    background-color: #6a78c8;
}

footer{
    background-color: #6a78c8 
}